<div class="col-12 col-lg-9 ps-lg-1 d-flex flex-column h-100">
    <div id="megamenu-display-area" style="display: none;"></div>
    <div id="mainBannerCarousel" class="carousel slide z-0 mt-0 pt-0 h-100" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#mainBannerCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner h-100">
            <div class="carousel-item active h-100">
                <img src="https://file.hstatic.net/200000722513/file/thang_04_laptop_acer.png" class="d-block h-100 w-100" style="object-fit: cover;" alt="Banner 1" loading="lazy">
            </div>
            <div class="carousel-item h-100">
                <img src="https://file.hstatic.net/200000722513/file/thang_04_laptop_rtx_50series_800x400.jpg" class="d-block h-100 w-100" style="object-fit: cover; " alt="Banner 2" loading="lazy">
            </div>
            <div class="carousel-item h-100">
                <img src="https://file.hstatic.net/200000722513/file/gearvn-festival-505-slider.jpg" class="d-block h-100 w-100" style="object-fit: cover; " alt="Banner 3" loading="lazy">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#mainBannerCarousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#mainBannerCarousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>