@page "/admin/orders"
@model Acme.ProductSelling.Web.Pages.Admin.Orders.IndexModel
@using Acme.ProductSelling.Localization
@using Acme.ProductSelling.Web.Pages.Admin.Categories
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@using Acme.ProductSelling.Permissions

@inject IStringLocalizer<ProductSellingResource> L
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = L["UI:Title:Admin:Orders"]; Layout = "/Pages/Admin/Shared/_AdminLayout.cshtml";

}
@section scripts {
    <abp-script-bundle name="Shared.Order.SignalR" />
    <abp-script src="/Pages/Admin/Orders/Index.js" />
}
<abp-card class="py-3 px-1">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6" class="d-flex justify-content-start align-items-center">
                <abp-card-title class="mb-0 ms-3">@L["Order:Orders"]</abp-card-title>
            </abp-column>

            <abp-column size-md="_6" class="d-flex justify-content-end align-items-center">
                <div class="form-check form-switch me-3">
                    <input class="form-check-input" type="checkbox" id="IncludeDeletedCheckbox">
                    <label class="form-check-label" for="IncludeDeletedCheckbox">
                        @L["ShowDeleted"]
                    </label>
                </div>
            </abp-column>

        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" id="OrdersTable"></abp-table>
    </abp-card-body>
</abp-card>