@using Acme.ProductSelling.Web.Models
@model List<BreadcrumbItem>

@if (Model != null && Model.Count > 1) // Only render if there's more than the "Home" link
{
    <nav class="c-breadcrumb" aria-label="breadcrumb">
        <ol class="c-breadcrumb__list">
            @foreach (var item in Model)
            {
                <li class="c-breadcrumb__item">
                    @if (item.IsActive)
                    {
                        var title = ViewContext.ViewData["Title"] as string;

                        <span class="c-breadcrumb__text" aria-current="page">
                            @title
                        </span>
                    }//@L[$"UI:Title:Admin:{item.Text}"]
                    else
                    {
                        
                        

                        <a class="c-breadcrumb__link" href="@item.Url">@(L[item.Text].ResourceNotFound ? L[$"UI:Title:Admin:{item.Text}"].Value : L[item.Text] )</a>
                       
                        @* <a class="c-breadcrumb__link" href="@item.Url">@(L[item.Text])</a> *@

                    }
                </li>
            }
        </ol>
    </nav>
}
