@page "/admin/products"
@model Acme.ProductSelling.Web.Pages.Admin.Products.IndexModel
@using Acme.ProductSelling.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@using Acme.ProductSelling.Permissions
@using Acme.ProductSelling.Categories
@using Newtonsoft.Json
@inject IStringLocalizer<ProductSellingResource> L
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = L["UI:Title:Admin:Products"];
    var categorySpecTypes = Json.Serialize(Model.CategorySpecTypesJson);
}
@section scripts {

    <abp-script src="/Pages/Admin/Products/Index.js" />
    <script src="~/js/admin/Index.js"></script>

}

@section styles {
    <link href="~/css/admin/products/styles.css" rel="stylesheet" />
}
<div class="container user-select-none">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb border-0">
            <li class="breadcrumb-item"><a href="/admin">@L["Admin:Menu:Home"]</a></li>
            <li class="breadcrumb-item active " aria-current="page">@L["Admin:Menu:Products"]</li>
        </ol>
    </nav>
</div>
<abp-card class="py-3 px-1">
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6" class="d-flex  justify-content-start align-items-center ">
                <abp-card-title class="mb-0 ms-3">@L["Product:Products"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-end">
                @if (await AuthorizationService.IsGrantedAsync(ProductSellingPermissions.Products.Create))
                {@* Key localization "CreateProduct" *@
                    <abp-button id="NewProductButton"
                                text="@L["Product:CreateProduct"].Value"
                                icon="plus"
                                button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-table striped-rows="true" hoverable-rows="true" class="pt-2" id="ProductsTable"></abp-table>
    </abp-card-body>
</abp-card>
