@page "/admin/blogs/create"
@model Acme.ProductSelling.Web.Pages.Admin.Blogs.CreateBlogModel
@using Acme.ProductSelling.Localization;
@using Microsoft.Extensions.Localization
@using Volo.Abp.Users

@inject ICurrentUser CurrentUser
@inject IStringLocalizer<ProductSellingResource> L

@{
    ViewData["Title"] = L["UI:Title:CreateNewBlog"];
}
@section styles {
    <abp-style src="/lib/summernote/summernote-bs5.min.css"></abp-style>
    <link href="~" rel="stylesheet" />
}

@section scripts {
    <abp-script src="/lib/summernote/summernote-bs5.min.js" />
    <script>
        $(function () {
            // ID bây giờ sẽ là BlogPost_Content vì [BindProperty] có tên là "BlogPost"
            $('#BlogPost_Content').summernote({
                height: 300,
                toolbar: [
                   ['style', ['style']],
                   ['font', ['bold', 'underline', 'italic','clear']],
                   ['para', ['ul', 'ol', 'paragraph']],
                   ['insert', ['link', 'picture']],
                   ['view', ['fullscreen', 'codeview']]
                ]
            });
        });
    </script>
    <abp-script src="/Pages/Admin/Blogs/CreateBlog.js" />

}

<abp-card>

    <abp-card-header>
        <abp-card-title>
            @L["UI:Title:CreateNewBlog"]
        </abp-card-title>
    </abp-card-header>

    <abp-card-body>
        <form method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <abp-input asp-for="BlogPost.Title" class="form-control" />
                <span asp-validation-for="BlogPost.Title" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <abp-input asp-for="BlogPost.Slug" class="form-control" readonly="true" />
                <span asp-validation-for="BlogPost.Slug" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <abp-input asp-for="BlogPost.Author" value="@CurrentUser.Name" readonly="true"/>
            </div>
            <div class="mb-3">
                <abp-input asp-for="CoverImageFile" type="file" accept="image/*">
                </abp-input>

                <span asp-validation-for="CoverImageFile" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="BlogPost.Content" class="form-label"></label>
                <textarea asp-for="BlogPost.Content" class="form-control"></textarea>
                <span asp-validation-for="BlogPost.Content" class="text-danger"></span>
            </div>


            <button type="submit" class="btn btn-primary">@L["UI:Button:Create"]</button>
            <a asp-page="/Admin/Blogs/Index" class="btn btn-secondary">@L["UI:Button:Cancel"]</a>
        </form>

    </abp-card-body>
</abp-card>
