
.carousel-control-prev, .carousel-control-next {
    width: 40px;
    height: 40px;
    background-color: rgba(0,0,0,0.2);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.separator-custom {
    width: 100%;
    border: 8px solid white;
    margin: 1.5rem 0;
}
.sticky-sidebar {
    position: sticky;
    top: 0px;
    padding: 15px;
    border-radius: 5px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    align-self: start;
}