/* Your Global Styles */
:root .lpx-brand-logo {
    --lpx-logo: url('/images/logo/leptonxlite/logo-light.png');
    --lpx-logo-icon: url('/images/logo/leptonxlite/logo-light-thumbnail.png');
}


/* Login */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



@media (max-width: 991.98px) {


    .category-dropdown-container {
        width: 100%;
    }

    #navbarDropdownCategories {
        width: 100%;
        justify-content: space-between;
    }
}

@media (max-width: 576px) {
    .login-dropdown-content {
        min-width: 180px;
        padding: 12px;
    }

    .dropdown-buttons {
        flex-direction: column;
    }

    .dropdown-btn-login,
    .dropdown-btn-register {
        width: 100%;
    }

    .footer-social-icons {
        justify-content: center;
    }
}
