@using System.Linq
@using Microsoft.AspNetCore.Http.Extensions
@using Volo.Abp.AspNetCore.Mvc.UI.Theme.LeptonXLite.Languages
@using Acme.ProductSelling.Localization
@using Microsoft.Extensions.Localization
@using Microsoft.AspNetCore.Authorization
@inject IStringLocalizer<ProductSellingResource> L

@model ThemeLanguageInfo


@if (Model.Languages.Any())
{
    <!-- Dropdown đơn giản khi Layout == null -->
    <div class="dropdown">
        <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown">
            <i class="bi bi-globe"></i> @Model.CurrentLanguage.DisplayName
        </button>
        <ul class="dropdown-menu">
            @foreach (var language in Model.Languages)
            {
                <li>
                    <a class="dropdown-item" href="~/Abp/Languages/Switch?culture=@(language.CultureName)&uiCulture=@(language.UiCultureName)&returnUrl=@(System.Net.WebUtility.UrlEncode(Context.Request.GetEncodedPathAndQuery()))">
                        @language.DisplayName
                    </a>
                </li>
            }
        </ul>
    </div>
}


