/* Getting-Started */
.starting-content {
    position: relative;
    z-index: 2;
}
.card-bg-image {
    pointer-events: none;
    position: absolute;
    width: 630px;
    height: auto;
    bottom: 0;
    right: 0;
    z-index: 1;
}
/* Getting-Started End */
.category-sidebar-menu .list-group-item.category-menu-item {

    padding-top: 0.4rem; /* << Điều chỉnh giá trị này nhỏ hơn */
    padding-bottom: 0.4rem; /* << Điều chỉnh giá trị này nhỏ hơn */
    
}