@page "/loi"
@model Acme.ProductSelling.Web.Views.Shared.ErrorModel

@{
    // The page title in the browser tab will now be dynamic
    ViewData["Title"] = Model.ErrorTitle;
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="text-center mt-5">

    @* Optionally display the status code in a large font for clarity *@
    @if (Model.StatusCode != 0)
    {
        <h1 class="display-1 text-danger">@Model.StatusCode</h1>
    }

    <h1>@Model.ErrorTitle</h1>
    <p>@Model.ErrorMessage</p>

    <button onclick="window.history.back()" class="btn btn-primary mt-3">Quay về trang trước</button>
    <br />
    <a href="/" class="mt-2 d-block">Hoặc quay về trang chủ</a>
</div>