@* ﻿@using Volo.Abp.Ui.Branding *@
@* @inject IBrandingProvider BrandingProvider *@
@* <a href="/admin"> *@
@*     <img src="@BrandingProvider.LogoUrl" width="100" height="60" /> *@
@*     @BrandingProvider.AppName *@
@* </a> *@